# Ignore everything
**

# Allow app files
!/etc/docker/app/*
!/etc/docker/web/*
!/app/*
!/src/*
!/bin/console
!/web/app.php
!/composer.lock
!/composer.json

# Ignore unnecessary files
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db