{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    Please go to <a href="{{ client_callback_url ~ '?api-key=' ~ app.user.apiKey ~ '&displayname=' ~ app.user.displayName }}">Home</a> to finish validation and Log In.
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}