{% include '@App/Footer/suscribe.html.twig' %}
<footer class="app-footer">
  <div class="container">
    <div class="app-footer__inner">
      <a href="https://www.folger.edu/" class="logo-main is-stacked">
        <img class="logo-main__img" src="{{ asset('images/folger-logo-stacked.svg', 'dap_client_frontend') }}" alt="Folger">
      </a>
      <nav class="app-footer__nav">
        <ul>
          <li>
            <a href="http://www.folger.edu/online-resources/digital-asset-platform">
              {{ "About Miranda"|upper }}
            </a>
          </li>
          <li>
            <a href="https://wiki.folger.edu/collections-architecture-portal">
              {{ "Behind the Scenes"|upper }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
