<div class="subscribe-section">
  <div class="container">
    <div class="subscribe-section__inner row">
      <div class="subscribe-section__desc col-md-5">
        <p>Sign up to be notified about Miranda developments</p>
      </div>
      <form class="subscribe-section__form col-md-7" action="https://folger.us12.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="ef9c8d64fe47680279a0d8931">
        <input type="hidden" name="id" value="4057c7efd6">
        <input type="text" name="MERGE6" id="MERGE6" value="" placeholder="First and last name" class="form-field">
        <input type="email" autocapitalize="off" name="MERGE0" id="MERGE0" value="" placeholder="Email" class="form-field">
        <button type="submit" class="button is-secondary">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
