<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Folger Digital Asset Platform</title>
</head>
<body>
<table width="610" cellpadding="0" cellspacing="0" bgcolor="#161621" align="center" border="0">
    <tr>
        <td>
            <!--Logo-->
            <table width="550" cellpadding="0" cellspacing="0" align="center" border="0">
                <tr>
                    <td width="50%" height="93" rowspan="3" align="left" valign="middle"><a href="https://collections.folger.edu/" title="" target="_blank"><img src="https://www.folger.edu/sites/all/themes/folger/images/logo-header.png" width="250" height="50" alt="Folger" title="Folger" border="0"/></a></td>
                </tr>
            </table>
            <table width="550" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td bgcolor="#D9DADB" height="2"></td>
                </tr>
            </table>
            <table width="550" cellpadding="10" cellspacing="0" align="center" bgcolor="#FFFFFF" border="0">
                <tr>
                    <td>
                        <font style="font-size:12px; color:#212121;font-family: Arial, Helvetica, sans-serif;">
                            {{ body|raw }}
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="610" cellpadding="0" cellspacing="0" align="center" bgcolor="#272537" border="0">
                <tr>
                    <td height="44">
                        <table width="550" cellpadding="10" cellspacing="0"  align="center" border="0">
                            <tr >
                                <td align="center"><a  href="https://collections.folger.edu" target="_blank" title="" alt="" style="font-size:13px; color:#FFFFFF; font-family: Arial, Helvetica, sans-serif;"></a> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#161621">
                    <td height="25"  align="center" valign="middle"><font style="font-size:10px; color:#ffffff; font-family: Arial, Helvetica, sans-serif;"></font></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
